<div class="incidencias-lista" [ngClass]="{'mosaico': esMosaico}">
  <div class="incidencia" *ngFor="let incidencia of incidencias">
    <div class="incident-content">
      <!-- Imagen visible solo cuando estamos en formato mosaico -->
      <img *ngIf="esMosaico" src="../../assets/images/Logo_Ineco.png" alt="Imagen de la incidencia" class="incident-image">
      <!-- <img *ngIf="esMosaico" src="backend/static/imagesIncidencias/{{incidencia.id}}.jpg" alt="Imagen de la incidencia" class="incident-image"> -->
      
      <!-- Título con estado a la derecha (tanto en modo mosaico como en modo lista) -->
      <div class="title-container">
        <h3>{{incidencia.instalacion}}</h3>
        <span class="status-badge-inline" [ngClass]="getEstadoClass(incidencia.estado)">{{incidencia.estado}}</span>
      </div>
      
      <!-- Datos de la incidencia -->
      <p class="description text-left"><span class="bold">Elemento:</span> {{incidencia.elemento}}</p>
      <p class="address text-left"><span class="bold">Ubicación:</span> {{incidencia.ubicacion}}</p>
      
      <!-- Observaciones - visible SOLO en modo lista (no en mosaico) -->
      <p *ngIf="!esMosaico" class="observations"><span class="bold">Observaciones:</span> {{getObservacionesTexto(incidencia.observaciones)}}</p>
      
      <p class="date text-left"><span class="bold">Fecha:</span> {{incidencia.fecha}}</p>
      
      <button class="btn-details" (click)="verDetalles(incidencia)">VER DETALLES</button>
    </div>
  </div>
</div>
