<header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=person" />
    <div class="header-left">
        <img style="height: 30px; background-color: rgb(255, 255, 255); border-radius: 5px;" src="../../assets/images/Logo_Ineco_Small_Color.png">
        <h1>INECO INSPECTOR</h1>
    </div>
    <div class="header-right">
        <!-- <span class="material-symbols-outlined">notifications</span> -->
        <div class="avatar">
            <span class="material-symbols-outlined">
                person
                </span>
        </div>
       
    </div>
</header>


